.env
.env.backup
.env.dev
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
_ide_helper.php
_ide_helper_models.php
compiled.php
config.php
docker-compose.override.yml
down
events.scanned.php
Homestead.json
Homestead.yaml
maintenance.php
npm-debug.log
release
routes.php
routes.scanned.php
schedule-*
services.json
yarn-error.log
